p{
    color:#c0c0db;
    font-size: larger;
    font-weight: 550;
}

body
{
    background-color: #2a2a2c;
}

header 
{
color: white;
}


div{
    max-width:800px;
    margin: auto;
}
